
:root{

    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #323232; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#fff; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#0288d1; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#FFFFFF; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#fff; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#F6F6F6; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #0288d1; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #0f3c55;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #0f3c55; /* Color of active category text */

    --MENU-VISITED-color: #1C90F3; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #1B5178; /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar ul.topics > li.parent,
#sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .topics a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar .topics a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar .topics ul li.active > a {
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#shortcuts a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#shortcuts a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#footer,
#footer a {
    color: var(--MAIN-TEXT-color);
}

#footer a:hover {
    color: var(--MENU-SECTIONS-LINK-color);
}

/* remove excessive whitespace */

#body .padding {
    padding: 1rem;
}

#footer {
    padding: 1rem;
}

#sidebar .highlightable {
    padding: 0;
}

#sidebar ul.topics ul {
    padding-bottom: 10px;
}

#chapter {
    padding: 0;
}

#body-inner {
    margin-bottom: 0;
}

/* fix hugo-learn's awful readability */

body {
    font-size: 1.1rem !important;
    line-height: 1.5;
}

pre code {
    font-size: 1rem !important;
}

#top-bar {
    font-size: 1rem;
}

div.notices p {
    font-size: inherit;
}

ul, ol, pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.runbook-group {
    padding-left: 1rem;
}

.runbook-alert code {
    padding: 0;
}

.runbook-alert h4 .name {
    font-family: "Consolas", menlo, monospace;
}

.runbook-alert .severity-warning {
    color: orange;
}

.runbook-alert .severity-critical {
    color: red;
}
