.loodse-btn {
  display: inline-block;
  padding: 0.5rem 1.3125rem;
  border: 2px solid var(--LOODSE-ACCENT-color);
  border-radius: 3px;
  text-align: center;
  color: var(--MAIN-TEXT-color);
  transition: all .3s ease;
  text-decoration: none;
}

.projects {
  margin-top: 5.5rem;
}

.wrap {
  max-width: 1440px;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.section-title {
  margin: 0 0 1.875rem;
  color: var(--MAIN-PRIMARY-color);
  font-size: 1.75rem;
  text-align: center;
}

.tiles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -0.9375rem;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.tile {
  padding: 0.9375rem;
}

.tile-link {
  display: inline-block;
  height: 100%;
  padding: 1.875rem;
  border: 2px solid var(--GRAY-color);
  color: var(--MAIN-TEXT-color);
}

.tile-link:hover {
  color: var(--MAIN-TEXT-color);
  border-color: var(--LOODSE-ACCENT-color);
}

.tile-image img {
  display: block;
  height: 40px;
}

.tile-description {
  margin: 2rem 0 0;
}

@media screen and (min-width: 768px) {
  .tile {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    margin-top: 8.125rem;
  }

  .tile {
    width: 33.33%;
  }
}
