.loodse-btn {
  display: inline-block;
  padding: 0.5rem 1.3125rem;
  border: 2px solid var(--LOODSE-ACCENT-color);
  border-radius: 3px;
  text-align: center;
  color: var(--MAIN-TEXT-color);
  transition: all .3s ease;
  text-decoration: none;
}

.projects {
  margin-top: 8.125rem;
}

.projects-wrap {
  max-width: 1440px;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.projects-title {
  text-align: center;
}

.projects-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -1.25rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.projects-tile {
  width: 33.33%;
  padding: 1.25rem;
}

.projects-tile-link {
  display: inline-block;
  height: 100%;
  padding: 1.875rem;
  border: 2px solid var(--GRAY-color);
  color: var(--MAIN-TEXT-color);
}

.projects-tile-link:hover {
  color: var(--MAIN-TEXT-color);
}

.projects-tile-link:hover .loodse-btn {
  color: #ffffff;
  background-color: var(--LOODSE-ACCENT-color);
}

.projects-tile-image {
  width: 60%;
}

.projects-tile-description {
  margin: 0.937rem 0 1.875rem;
}

@media screen and (max-width: 1024px) {
  .projects-tile {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .projects-tile {
    width: 100%;
  }
}