{{$baseWebsiteUrl := .Site.Params.baseWebsiteUrl}}
{{$logo := .Site.Params.mainLogo}}
{{$hideMenu := .Params.landingPage}}

{{$menuItems := $.Site.Data.mainMenu.items}}
<header class="main-header fixed" id="header">
  <nav class="nav-bar flex-wrapper">
    {{with $logo}}
    <div class="flex-item">
      <a href="{{$baseWebsiteUrl}}" class="flex-wrapper main-header-logo">
        <img src="{{.src | relURL}}" alt="{{.alt}}" class="main-header-logo-image">
      </a>
      <a href="{{`/` | relURL}}" class="main-header-home-link">Doc<span>s</span><span>umentation</span></a>
    </div>
    {{end}}
    {{with not $hideMenu}}
    <button id="menu-btn" aria-label="Main Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="flex-item" id="menu">
      <ul class="menu">
        {{$paneltId := 0}}
        {{$urlPanelMap := dict}}
        {{range $menuItems}}
        {{$parentItemClass := .class}}
        <li class="menu-item">
          {{if .title}}
          <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="menu-item_link">{{.title}}</a>
          {{end}}
          {{with .sections}}
          <div class="sub-menu{{with $parentItemClass}} {{.}}{{end}}">
            <div class="menu-group">
              {{$activePanelItem := true}}
              {{range .}}
              <div class="menu-section">
              {{with .title}}
              <div class="menu-section-title">{{.}}</div>
              {{end}}
              {{range $index, $val := .items}}
              {{$class := "item-link flex-wrapper"}}
              <div class="item">
                {{if .title}}
                  {{if .panel}}
                  <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="{{$class}}{{if $activePanelItem}} menu-panel-item--active{{end}} panel-link" data-panel-item-id="{{$paneltId}}">
                    {{with .title}}
                    <span class="item-link_title">{{.}}</span>
                    {{end}}
                    <span class="item-link_description">{{.text}}</span>
                    <span class="main-menu-arrow"></span>
                    {{$urlPanelMap = merge $urlPanelMap (dict .url $paneltId)}}
                    {{$paneltId = add $paneltId 1}}
                    {{$activePanelItem = false}}
                  </a>
                  {{else}}
                  <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="{{$class}}">
                    {{with .title}}
                    <span class="item-link_title">{{.}}</span>
                    {{end}}
                    <span class="item-link_description">{{.text}}</span>
                  </a>
                  {{end}}
                {{end}}
              </div>
              {{end}}
              </div>
              {{end}}
            </div>
            {{$showFirstPanel := true}}
            {{range .}}
              {{with .items}}
                {{range .}}
                {{$title := .title}}
                {{$url := .url}}
                {{with .panel}}
                <div class="menu-panel{{if $showFirstPanel}} menu-panel--show{{end}}" data-panel-id="{{index $urlPanelMap $url}}">
                  {{if or .columns .summary}}
                  <div class="menu-panel-group">
                    {{with $title}}<span class="menu-panel-url">{{.}}</span>{{end}}
                    {{with .summary}}
                      <p class="menu-panel-summary">{{.}}</p>
                    {{end}}
                    {{with .columns}}
                    <div class="menu-columns">
                    {{range .}}
                      <div class="menu-column">
                      {{range .column}}
                      <a class="menu-column-link{{with .class}} {{.}}{{end}}" href="{{(print $baseWebsiteUrl .url) | relURL}}">{{.title}}{{with .badge}}&nbsp;<span class="menu-item-badge">{{.}}</span>{{end}}</a>
                      {{end}}
                      </div>
                    {{end}}
                    </div>
                    {{end}}
                  </div>
                  {{end}}
                  {{with .image}}
                  <div class="menu-panel-img">
                    <img src="{{. | relURL}}" alt="" loading="lazy" />
                  </div>
                  {{end}}
                  {{with .banner}}
                  <div class="menu-banner">
                    {{with .image}}
                    <div class="menu-banner-img">
                      <img class="resp-img" src="{{.src | relURL}}" alt="{{.alt}}"/>
                    </div>
                    {{end}}
                    {{if or .title .links}}
                    <div class="menu-banner-content">
                      {{with .title}}
                      <h2 class="menu-banner-title">{{.}}</h2>
                      {{end}}
                      {{with .links}}
                      <ul class="menu-banner-items">
                        {{range .}}
                        <li class="menu-banner-item">
                          {{with .icon}}
                          <div class="menu-banner-icon">
                            <img src="{{.src | relURL}}" alt="{{.alt}}"/>
                          </div>
                          {{end}}
                          <a href="{{(print $baseWebsiteUrl .url) | relURL}}">{{.title}}</a>
                        </li>
                        {{end}}
                      </ul>
                      {{end}}
                    </div>
                    {{end}}
                  </div>
                  {{end}}
                {{$showFirstPanel = false}}
                </div>
                {{end}}
                {{end}}
              {{end}}
            {{end}}
          </div>
          {{end}}
        </li>
        {{end}}
        <li class="menu-item">
          <a href="{{print $baseWebsiteUrl `/contact-us/` | relURL}}" class="menu-item_btn">Contact Us</a>
        </li>
      </ul>
    </div>
    <div id="mobile-menu" class="mobile-menu">
      <ul  class="mobile-menu-list">
        {{range $menuItems}}
          {{if .title}}
          <li>
            <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="menu-item_link--caption">{{.title}}</a>
          </li>
          {{end}}
          {{range .sections}}
            {{if .title}}
            <li class="menu-item_link"><strong>{{.title}}</strong></li>
            {{end}}
            {{range .items}}
              <li>
                <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="menu-item_link{{if in .url "/#"}} menu-item-anchor{{end}}">{{.title}}</a>
              </li>
              {{with .panel}}
                {{with .banner}}
                  {{range .links}}
                  <li>
                    <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="menu-item_link{{if in .url "/#"}} menu-item-anchor{{end}}">{{.title}}</a>
                  </li>
                  {{end}}
                {{end}}
              {{end}}
              {{/* TODO: cleanup
              {{with .panel}}
                {{range .columns}}
                  {{with .column}}
                    {{range .}}
                    <li>
                      <a href="{{(print $baseWebsiteUrl .url) | relURL}}" class="menu-item_link{{if in .url "/#"}} menu-item-anchor{{end}}{{with .class}} {{.}}{{end}}">{{.title}}{{with .badge}}&nbsp;<span class="menu-item-badge">{{.}}</span>{{end}}</a>
                    </li>
                    {{end}}
                  {{end}}
                {{end}}
              {{end}}
              */}}
            {{end}}
          {{end}}
        {{end}}
        <li>
          <a href="{{print $baseWebsiteUrl `/contact-us/` | relURL}}" class="menu-item_link--caption mt-40">Contact Us</a>
        </li>
      </ul>
    </div>
    {{end}}
  </nav>
</header>

{{partial "js-includes.html" (dict "filePaths" (slice "/js/menu-hover.min.js") "outputFile" "/js/menu-hover-bundle.js" "attributes" (dict "defer" ""))}}
<script>
  function pageReady(fn) {
    if (document.readyState != 'loading'){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  };

  pageReady(function() {
    var body = document.body;
    var header = document.getElementById("header");

    function hideMobileMenu() {
      if (body.classList.contains("mobile-menu--open")) {
        body.classList.remove("mobile-menu--open");
      }
    };

    function initMobileMenuAnchors() {
      var anchors = document.querySelectorAll(".menu-item-anchor");

      anchors.forEach(function(anchor) {
        anchor.addEventListener("click", function(e) {
          body.classList.remove("mobile-menu--open");
        });
      });
    };

    window.addEventListener("resize", hideMobileMenu);

    function initMenuHoverPanels() {
      var menus = header.querySelectorAll('.menu-group');

      menus.forEach(function(menu) {
        var activeItem = menu.querySelector('.menu-panel-item--active'), activePanel;

        if (activeItem) {
          activePanel = header.querySelector('[data-panel-id="' + activeItem.dataset.panelItemId + '"]');
        }

        MenuHover.init(menu, {
          rowSelector: '.panel-link',
          activate: activatePanel,
          deactivate: deactivatePanel
        });

        function activatePanel(row) {
          if (activePanel || activeItem) {
            activePanel.classList.remove('menu-panel--show');
            activeItem.classList.remove('menu-panel-item--active');
            activePanel = null;
            activeItem = null;
          }
          var panel = header.querySelector('[data-panel-id="' + row.dataset.panelItemId + '"]');
          panel.classList.add('menu-panel--show');
          row.classList.add('menu-panel-item--active');
        }

        function deactivatePanel(row) {
          var panel = header.querySelector('[data-panel-id="' + row.dataset.panelItemId + '"]');
          panel.classList.remove('menu-panel--show');
          row.classList.remove('menu-panel-item--active');
        }
      });
    }

    var btnNav = document.getElementById("menu-btn");
    if (btnNav) {
      btnNav.addEventListener("click", function() {
        if (body.classList.contains("mobile-menu--open")) {
          body.classList.remove("mobile-menu--open");
        } else {
          body.classList.add("mobile-menu--open");
        }
      });
    }

    initMobileMenuAnchors();

    function addScript(attrs, callback) {
      var script = document.createElement('script');

      if (attrs) {
        Object.keys(attrs).forEach(function(key) {
          script.setAttribute(key, attrs[key]);
        });
      }

      if (callback) {
        script.onload = callback;
      }

      document.head.appendChild(script);
    };

    initMenuHoverPanels();
  });
</script>
