<nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">

{{ $currentNode := . }}
{{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
  <div id="header-wrapper">
    <div id="header">
      {{ partial "logo.html" . }}
    </div>
    {{if not .Site.Params.disableSearch}}
        {{ partial "search.html" . }}
    {{end}}
    {{if not .IsHome}}
    <div id="top-bar">
    {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
      {{ $File := .File }}
      {{ $Site := .Site }}
      {{with $File.Path }}
      <div id="top-github-link">
        <a class="github-link" title='{{T "Edit-this-page"}}' href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
          <i class="fas fa-code-branch"></i>
          <span id="top-github-link-text">{{T "Edit-this-page"}}</span>
        </a>
      </div>
      {{ end }}
    {{ end }}
      <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        {{ range $key, $value := $.Site.Data.version }}
          {{ if in $.RelPermalink $key }}
          <div class="select-release">
            <span>{{ $.Site.Title }} {{ $value.name }} > </span>
            <div class="select-style">
              <select id="select-release" onchange="location = this.value;">
            {{ range $value.versions }}
              <option value="/{{ $key }}/{{ .release }}/"{{ if in $.RelPermalink .release }}selected{{ end }}>{{ .name }}</option>
            {{end}}
              </select>
            </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
    <div class="highlightable">
    <ul class="topics">
      {{ range $key, $value := $.Site.Data.version }}
        {{ if in $.RelPermalink $key }}
          {{ range $value.versions }}
            {{ if in $.RelPermalink .release }}
              {{ $path := print "/" $key "/" .release }}
                {{ $docVersion := $.Site.GetPage $path}}
                  {{if eq .Site.Params.ordersectionsby "title"}}
                    {{range $docVersion.Sections.ByTitle}}
                    {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
                    {{end}}
                  {{else}}
                    {{range $docVersion.Sections.ByWeight}}
                    {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
                  {{end}}
                {{end}}
              {{end}}
            {{end}}
        {{ end }}
      {{ end }}
    </ul>

    {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
      <section id="shortcuts">
        <h3>{{ if not $disableShortcutsTitle}}{{ T "Shortcuts-Title"}}{{ end }}</h3>
        <ul>
          {{ range sort . "Weight"}}
              <li>
                  {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
              </li>
          {{end}}
        </ul>
      </section>
    {{end}}

    <section id="footer">
      {{ partial "menu-footer.html" . }}
    </section>
  </div>
</nav>

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
 {{with .sect}}
  {{if .IsSection}}
    {{safeHTML .Params.head}}
    <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item
        {{if .IsAncestor $currentNode }}parent{{end}}
        {{with .File}}{{$f := .}}{{with $currentNode.File}}{{if eq $f.UniqueID .UniqueID}}active{{end}}{{end}}{{end}}
        {{if .Params.alwaysopen}}parent{{end}}
        ">
      <a href="{{.RelPermalink}}">
          {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
          {{ if $showvisitedlinks}}
            <i class="fas fa-check read-icon"></i>
          {{ end }}
      </a>
      {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
        <ul>
          {{ $currentNode.Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
          {{end}}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}

        {{if eq .Site.Params.ordersectionsby "title"}}
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{else}}
          {{ range $pages.ByWeight }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{end}}
        </ul>
      {{ end }}
    </li>
  {{else}}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item {{with .File}}{{$f := .}}{{with $currentNode.File}}{{if eq $f.UniqueID .UniqueID}}active{{end}}{{end}}{{end}}">
        <a href="{{ .RelPermalink}}">
        {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
        {{ if $showvisitedlinks}}<i class="fas fa-check read-icon"></i>{{end}}
        </a>
    </li>
     {{ end }}
  {{end}}
 {{ end }}
{{ end }}
